{% extends "layout.html" %}

{% block title %}
    Calendar
{% endblock %}

{% block main %}
    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container"><center>
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/currencies/economic-calendar/" rel="noopener" target="_blank"><span class="blue-text">Economic Calendar</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
  </script></center>

</div>
<!-- TradingView Widget END -->
{% endblock %}
