{% extends "layout.html" %}

{% block title %}
    News
#Citation for this section: https://www.solodev.com/blog/web-design/adding-recent-news-boxes-to-your-website.stml
{% endblock %}

{% block main %}
<section class="recentNews">
  <div class="container">
    <h2 class="news-title">Recent Financial News</h2>
    <div class="row">
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.investing.com/news/stock-market-news/proxy-firm-glass-lewis-backs-investor-watermills-board-nominees-at-ziopharm-oncology-2360741"><img alt="News Entry" src="https://i-invdn-com.akamaized.net/news/LYNXNPEC0E0NI_M.jpg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>December</span><strong>3</strong>
            </div>
            <h3 class="ct-blog-header">
              Proxy firm Glass Lewis backs investor WaterMill's board nominees at Ziopharm Oncology
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.investing.com/news/stock-market-news/asian-stocks-up-as-investors-digest-vaccine-approval-and-us-stimulus-optimism-2360740"><img alt="News Entry" src="https://i-invdn-com.akamaized.net/news/LYNXMPEB380HB_M.jpg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>December</span><strong>3</strong>
            </div>
            <h3 class="ct-blog-header">
              Asian Stocks Up as Investors Digest Vaccine Approval and U.S. Stimulus Optimism
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.investing.com/news/economy/asian-investors-anticipate-modest-rise-in-markets-after-mixed-day-on-wall-street-2360679"><img alt="News Entry" src="https://i-invdn-com.akamaized.net/trkd-images/LYNXMPEGB11YP_L.jpg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>December</span><strong>3</strong>
            </div>
            <h3 class="ct-blog-header">
              Asian shares mixed, U.S. dollar near two-and-half year lows
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.investing.com/news/stock-market-news/canada-asks-court-to-throw-out-expert-affidavit-in-huawei-cfos-us-extradition-case-2360705"><img alt="News Entry" src="https://i-invdn-com.akamaized.net/trkd-images/LYNXMPEGB202D_L.jpg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>December</span><strong>3</strong>
            </div>
            <h3 class="ct-blog-header">
              Canada asks court to throw out expert affidavit in Huawei CFO's U.S. extradition case
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.investing.com/news/stock-market-news/the-new-black-gold-big-oil-bets-on-retail-networks-in-an-electric-era-2360684"><img alt="News Entry" src="https://i-invdn-com.akamaized.net/trkd-images/LYNXMPEGB2002_L.jpg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>December</span><strong>3</strong>
            </div>
            <h3 class="ct-blog-header">
              The new black gold? Big Oil bets on retail networks in an electric era
            </h3>
          </div>
        </div>
      </div>
      <div class="ct-blog col-sm-6 col-md-4">
        <div class="inner">
          <div class="fauxcrop">
            <a href="https://www.investing.com/news/stock-market-news/us-bans-cotton-imports-from-major-producer-in-chinas-xinjiang-region-2360595"><img alt="News Entry" src="https://i-invdn-com.akamaized.net/trkd-images/LYNXMPEGB11SK_L.jpg"></a>
          </div>
          <div class="ct-blog-content">
            <div class="ct-blog-date">
              <span>December</span><strong>2</strong>
            </div>
            <h3 class="ct-blog-header">
              U.S. bans cotton imports from China producer XPCC citing Xinjiang 'slave labor'
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-news btn-contests">
      <a href="https://www.investing.com/news/stock-market-news">VIEW ALL NEWS</a>
    </div>
  </div>
</section>
{% endblock %}